$default: #404040;
$black: #1c0e0d;
$dark-blue: #18063c;
$white: #ffffff;
$orange: #ff553e;

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%inter-500 {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}

%inter-600 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}

%inter-700 {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
}

%poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
